<div class="container-fluid px-0 footer-background py-3">
    <div class="row">
        <div class="col">
            <div class="footer-about-us fs-3"> About Us </div>
            <div class="footer-about-us-para px-4">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, aut voluptatibus quo corrupti repellendus quae exercitationem non quos quia repellat, optio, incidunt eius ullam eos porro. Minima odit ea vel.
            </div>
        </div>
        <div class="col">
            <div class="footer-social-media-links fs-4"> Connect Us on </div>
            
        </div>
        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a 
                        class="nav-link active" 
                        aria-current="page" 
                        routerLink="/dashboard"
                    >
                       Dashborad
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link" 
                        routerLink="/countries"
                    >
                        Countries
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link active" 
                        aria-current="page" 
                        routerLink="/india"
                    >
                       India
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link active" 
                        aria-current="page" 
                        routerLink="/faq"
                    >
                       FAQ
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link active" 
                        aria-current="page" 
                        routerLink="/contact-us"
                    >
                       Contact Us
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link active" 
                        aria-current="page" 
                        routerLink="/covid19-guidelines"
                    >
                       Covid-19 Guidlines
                    </a>
                </li>
                
              </ul>
        </div>
    </div>
</div>