
.footer-background{
    background-color: #004e92;
    text-align: center;
    color: #f5f5f5;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;

    .footer-about-us{
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
    }


    .footer-about-us-para{
        text-align: justify;
    }

    .nav{
        .nav-item a{
            color: #f5f5f5;
        }
    }
}