<div class="container-fluid px-0 outer-background">
	<!-- Splash Screen -->
  	<!-- <app-splash-screen></app-splash-screen> -->

	<div class="container inner-background">
  		<div class="row">
			<div class="col px-0">
				<!-- header -->
				<app-header></app-header>
    		</div>
  		</div>
  
		<div class="row">
			<div class="col ">
				<!-- banner -->
				<!-- <app-banner></app-banner> -->
			</div>
		</div>

		<div class="row">
			<div class="col ">
				<!-- menu -->
				<app-menu></app-menu>
			</div>
		</div>

		<div class="row">
			<div class="col ">
				<!-- main-content -->
				<router-outlet></router-outlet>
			</div>
		</div>

		<div class="row">
			<div class="col ">
				<!-- youtube links -->
				<app-youtube-links></app-youtube-links>
			</div>
		</div>

		<div class="row">
			<div class="col px-0">
				<!-- footer-part -->
				<app-footer></app-footer>
			</div>
		</div>

	</div>
</div>
