<br><h2 class="text-center">Contact Us</h2>
<div class="container text-primary">
    <div class="row">
      <div class="col-md-12 shadow rounded p-5">
        <div class="row">
          <div class="col mb-3">
            <label class="form-lable">Name</label>
            <input type="text" class="form-control" placeholder="Enter your name here...">              
          </div>
          <div class="col mb-3">
            <label class="form-lable">Phone No.</label>
            <input type="text" class="form-control" placeholder="Enter your phone no here...">              
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label class="form-lable">Email</label>
            <input type="text" class="form-control" placeholder="name@email.com">              
          </div>
          <div class="col mb-3">
            <label class="form-lable">Subject</label>
            <input type="text" class="form-control" placeholder="Write subject here...">              
          </div>
          <div class="mb-3">
            <label class="form-lable">Message</label>
            <textarea name="" class="form-control" placeholder="Write your message here..." rows="3"></textarea>             
          </div>
        </div>
        <button type="button" class="btn btn-primary">Send</button>
      </div>                
    </div>       
  </div>