<div class="container">
	<p class="contact-us fs-4">Contact Us</p>
    
	<div class="row">    
    	<div class="col-md-12 shadow rounded p-5">
        	<div class="row">
          	<div class="col mb-3">
            	<!-- <label class="form-lable">Name</label> -->
            	<input 
					type="text" 
					class="form-control" 
					placeholder="Name"
				>              
          	</div>
          	<div class="col mb-3">
            	<!-- <label class="form-lable">Phone No.</label> -->
            	<input 
					type="number" 
					class="form-control" 
					placeholder="Mobile Number"
				>              
          	</div>
        </div>
        
		<div class="row">
        	<div class="col mb-3">
            	<!-- <label class="form-lable">Email</label> -->
            	<input 
					type="email" 
					class="form-control" 
					placeholder="name@gmail.com"
				>              
          	</div>
          	<div class="col mb-3">
            	<!-- <label class="form-lable">Subject</label> -->
            	<input 
					type="text" 
					class="form-control" 
					placeholder="Subject"
					>              
          	</div>
          	<div class="mb-3">
            	<!-- <label class="form-lable">Query</label> -->
            	<textarea 
					name="" 
					class="form-control" 
					placeholder="Query" 
					rows="3"
				>
				</textarea>             
          	</div>
        </div>
		<div class="row">
			<div class="col text-center">
				<button 
					type="button" 
					class="btn btn-color-blue w-50 fs-5 fw-bold text-uppercase"
				>
					Submit
				</button>
			</div>
		</div>
        
      </div>                
    </div>       
  </div>